name: mnist-workflow
on:
  pull_request:
    types: [opened, edited]
jobs:
  run-workflow:
    runs-on: [ubuntu-20.04]

    steps:
      - uses: actions/checkout@v2
      - uses: iterative/setup-cml@v1
      - uses: iterative/setup-dvc@v1
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install pipenv
        run: |
          python -m pip install --upgrade pipenv wheel
          
      - name: Install dependencies
        run: |
          pipenv lock -r > requirements.txt
          pip install -r requirements.txt
          
      - name: Pull data
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          dvc pull data/mnist_train.csv.dvc
          dvc pull data/mnist_test.csv.dvc
          
      - name: Run pipeline
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          dvc repro

      - name: Publish report
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "### 1. Config" > report.md
          echo "\`\`\`yaml" >> report.md
          cat params.yaml >> report.md
          echo "\`\`\`" >> report.md
          
          git fetch --prune --unshallow
          dvc params diff --show-md master >> report.md
          
          echo "### 2. Data" >> report.md
          cat data_shapes.log >> report.md

          echo "### 3. Training" >> report.md
          dvc metrics diff --show-md master >> report.md
          dvc plots diff --target loss.json --show-vega master > vega.json
          vl2png vega.json -s 1.3 | cml-publish --md >> report.md

          cml-send-comment report.md
          
      - name: Update metric files
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          git add acc.json loss.json
          git commit -m "Update acc.json and loss.json"

          echo ${GITHUB_REF}
          echo ${GITHUB_REF#refs/heads/}
          
          git push origin ${GITHUB_REF#refs/heads/}
